.logo {
    width: 100px;
    background-color: black;
}

nav {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.textcolor {
    color: black !important;
}

.vl {
    margin-left: 10px;
    border-left: 1px solid grey;
    height: auto;
}

@media only screen and (max-width:900px) {
    .logo {
       display: none;
    }
    .navbar.navbar-expand-sm.navbar-light.fixed-top.main {
        display: none;
    }
    .navbar.navbar-light.burger{
        display: flex;
    }
  } 
  @media only screen and (min-width:900px) {
    .navbar.navbar-light.burger{
        display: none;
    }
  }