.error { 
    border: 1px solid red;
}

.row {
    margin: 0px;
}

.btn-submit {
    width: 50%;
    border-radius: 50px !important;
}

label {
    font-family: 'Kanit', sans-serif;
}

.link-btn{
    color: #ffc107;
    margin-left: 5px;
}

.link-btn:hover{
    color: #c49302;
}

.link-btn:active{
    color: #755800;
}

@media (max-width: 768px)
{
    .container-margin {
        margin-top: 2rem;
    }
}

@media (min-width: 768px)
{
    .container-margin {
        margin-top: 7rem;
    }
}