
@media (max-width:768px){
    .marginDefault{
        margin-top:2rem;
        margin-bottom:2rem;
        position: sticky;
        top: 50%;
        left: 50%;
        }
        .error { border: 1px solid red; }
}
@media (min-width:768px){
    .marginDefault{
        margin-top:6rem;
        margin-bottom:2rem;
        position: sticky;
        margin-left: 40%;
        top: 50%;
        left: 50%;
    }
    .error { border: 1px solid red; }
}